.vscode*
*.swp
build/*
dist/*
cmake-build-*/*
core/bin/*
core/obj/*
core/lib/*
core/include/temp
core/src/temp
coverage.info
test/benchmarking/build/*
test/bin/*
test/inputs/arrays/read_compatibility_test*
test/obj/*
test/tiledb_test/*
Doxyfile.log
doxyfile.inc
doxygen/html/
doxygen/latex/
examples/bin/*
examples/obj/*
scripts/deps-staging/*
.idea
*temp*
*.DS_Store
doc/venv
doc/source/__pycache__
doc/source/_build
doc/source/_sidebar.rst.inc
doc/source/gensidebar.pyc
examples/cmake_project/build
CMakeUserPresets.json
