*.swp
build/*
dist/*
cmake-build-default/*
cmake-build-debug/*
cmake-build-release/*
core/bin/*
core/obj/*
core/lib/*
core/include/temp
core/src/temp
coverage.info
test/obj/*
test/bin/*
Doxyfile.log
doxyfile.inc
doxygen/html/
doxygen/latex/
examples/bin/*
examples/obj/*
.idea
*temp*
*.DS_Store
