*.swp
build/*
dist/*
cmake-build-*/*
core/bin/*
core/obj/*
core/lib/*
core/include/temp
core/src/temp
coverage.info
test/obj/*
test/bin/*
test/tiledb_test/*
Doxyfile.log
doxyfile.inc
doxygen/html/
doxygen/latex/
examples/bin/*
examples/obj/*
scripts/deps-staging/*
.idea
*temp*
*.DS_Store
doc/venv
doc/source/__pycache__
doc/source/_build
doc/source/_sidebar.rst.inc