language: cpp

dist: trusty
sudo: required
services: docker

matrix:
  include:
    - os: linux

    - os: linux
      env: USE_HDFS="ON"

    - os: linux
      env: USE_S3="ON"

    - os: osx
      osx_image: xcode9

install:
    # Install clangformat (v5.0)
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
        sudo scripts/install-clangformat.sh;
      else
        scripts/install-clangformat.sh;
      fi

    # Install library dependencies
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
        sudo scripts/install-deps.sh;
      else
        scripts/install-deps.sh;
      fi

    # Install hadoop if HDFS is enabled
    - if [[ "$USE_HDFS" == "ON" ]]; then
        source scripts/install-hadoop.sh;
      fi

    # Install minio if S3 is enabled
    - if [[ "$USE_S3" == "ON" ]]; then
        source scripts/install-s3.sh && source scripts/install-minio.sh;
      fi

    - mkdir -p $TRAVIS_BUILD_DIR/build && cd $TRAVIS_BUILD_DIR/build

      # Build TileDB
    - if [[ "$USE_HDFS" == "ON" ]]; then
        ../bootstrap --enable-coverage --enable-verbose --enable-hdfs;
      elif [[ "$USE_S3" == "ON" ]]; then
        ../bootstrap --enable-coverage --enable-verbose --enable-s3;
      else
        ../bootstrap --enable-coverage --enable-verbose;
      fi

    - make -j4
    - make examples -j4
    
script:
    - make check-format
    - make check
