# Adapted from 
# http://gronlier.fr/blog/2015/01/adding-code-coverage-to-your-c-project/

sudo: required
dist: trusty

env:
    - TILEDB_BUILD_DIR=$TRAVIS_BUILD_DIR/build

install:
    # Install cmake, lcov, MPICH
    - sudo apt-get -y install cmake lcov mpich 
    # Install zlib, bzip2 and LZ4
    - sudo apt-get -y install zlib1g-dev libbz2-dev liblz4-dev
    # Install OpenSSL and Gtest
    - sudo apt-get -y install libssl-dev libgtest-dev
    # Install Zstandard
    - wget https://github.com/facebook/zstd/archive/v1.0.0.tar.gz
    - tar xf v1.0.0.tar.gz
    - cd zstd-1.0.0
    - sudo make install PREFIX='/usr'
    - cd $TRAVIS_BUILD_DIR
    # Install Blosc
    - git clone https://github.com/Blosc/c-blosc 
    - cd c-blosc
    - mkdir build
    - cd build
    - cmake -DCMAKE_INSTALL_PREFIX='/usr' ..
    - cmake --build .
    - sudo cmake --build . --target install
    - cd $TRAVIS_BUILD_DIR
    # Install Google Test
    - cd /usr/src/gtest
    - sudo cmake .
    - sudo make
    - sudo mv libgtest* /usr/lib/
    - cd $TRAVIS_BUILD_DIR
    # Install lcov to coveralls conversion + upload tool
    - gem install coveralls-lcov
    # Build TileDB
    - rm -rf $TILEDB_BUILD_DIR
    - mkdir -p $TILEDB_BUILD_DIR
    - cd $TILEDB_BUILD_DIR
    - cmake .. -DCMAKE_BUILD_TYPE=Coverage 
    - make -j 4

before_script:
    - lcov --directory $TILEDB_BUILD_DIR --zerocounters

script:
    - make check -j 4

after_success:
    - cd $TILEDB_BUILD_DIR
    - lcov --directory . --capture --output-file coverage.info
    - lcov --list coverage.info # debug before upload
