sudo: required
dist: trusty
language: cpp
env:
    matrix:
        - USE_HDFS="ON" 
        - USE_HDFS="OFF"

install:
    # Install library dependencies
    - sudo scripts/install-deps.sh
    # Install clangformat (v5.0)
    - sudo scripts/install-clangformat.sh
    # Install hadoop
    - if [ "$USE_HDFS" == "ON" ]; then source scripts/install-hadoop.sh; fi
    # Install lcov to coveralls conversion + upload tool
    - gem install coveralls-lcov
    # Build TileDB
    - mkdir -p $TRAVIS_BUILD_DIR/build
    - cd $TRAVIS_BUILD_DIR/build
    - cmake -DCMAKE_BUILD_TYPE=Coverage  -DTILEDB_VERBOSE=1 -DUSE_HDFS=$USE_HDFS -DJAVA_HOME=$JAVA_HOME  -DHADOOP_HOME=$HADOOP_HOME ..
    - make -j4
    - make examples -j4
    
before_script:
    - lcov --directory $TRAVIS_BUILD_DIR/build --zerocounters

script:
    - make check-format
    - make check

after_success:
    - cd $TILEDB_BUILD_DIR/build
    - lcov --directory . --capture --output-file coverage.info
    - lcov --list coverage.info # debug before upload
