jobs:
- job:
  strategy:
    matrix:
      linux:
        imageName: 'ubuntu-16.04'
        CXX: g++
      linux_s3:
        imageName: 'ubuntu-16.04'
        TILEDB_S3: ON
        CXX: g++
      linux_hdfs:
        imageName: 'ubuntu-16.04'
        TILEDB_HDFS: ON
        CXX: g++
      macOS:
        imageName: 'macOS-10.13'
        TILEDB_S3: ON
        TILEDB_DEBUG: ON
        CXX: clang++
    maxParallel: 4
  pool:
    vmImage: $(imageName)
  steps:
  - template: scripts/azure-linux_mac.yml

- job: Windows
  strategy:
    matrix:
      VS2015:
        imageName: 'vs2015-win2012r2'
        TILEDB_S3: ON
      VS2017:
        imageName: 'vs2017-win2016'
        TILEDB_S3: ON
  pool:
    vmImage: $(imageName)
  steps:
  - template: scripts/azure-windows.yml
