/*
Cloned from https://github.com/TileDB-Inc/tiledb-quarto-template

tiledb light blue #4d9fff
tiledb dark  blue #0a2580
*/

/*-- scss:defaults --*/
/*
$navbar-bg: #800000;
$navbar-fg: #eeeeee;
$sidebar-fg: #800000;
$footer-bg: #800000;
$footer-fg: #eeeeee;
*/

/*-- scss:rules --*/
h1, h2, h3 {
  font-weight: 600; /* semibold */
  /*
  color: #4d9fff;
  background-color: #e0e0e0;
  */
  border-radius: 6px;
  padding: 6px;
}
