name: windows build

on:
  workflow_call:

env:
  BACKWARDS_COMPATIBILITY_ARRAYS: OFF
  TILEDB_S3: OFF
  TILEDB_AZURE: OFF
  TILEDB_GCS: OFF
  TILEDB_SERIALIZATION: OFF
  TILEDB_STATIC: OFF
  TILEDB_TOOLS: ON
  TILEDB_BASE_BOOTSTRAP_OPTIONS: '-EnableVerbose -EnableStaticTileDB -EnableBuildDeps'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2019]
        #considering https://stackoverflow.com/questions/65035256/how-to-access-matrix-variables-in-github-actions
        environ: [azure, s3, serialization]
        include:
          - environ: 'azure'
            TILEDB_AZURE: ON
            TILEDB_USE_CUSTOM_NODEJS: OFF
            TILEDB_ARROW_TESTS: ON
            TILEDB_SERIALIZATION: OFF
            TILEDB_S3: OFF
            TILEDB_WEBP: OFF
          - environ: 's3'
            TILEDB_S3: ON
            TILEDB_ARROW_TESTS: ON
            TILEDB_SERIALIZATION: OFF
            TILEDB_AZURE: OFF
            TILEDB_WEBP: OFF
          - environ: 'serialization'
            TILEDB_S3: OFF
            TILEDB_AZURE: OFF
            TILEDB_ARROW_TESTS: OFF
            TILEDB_SERIALIZATION: ON
    env:
      TILEDB_HOME: ${{ github.workspace }}
      TILEDB_GA_IMAGE_NAME: ${{ matrix.os }}
      TILEDB_S3: ${{ matrix.TILEDB_S3 }}
      TILEDB_AZURE: ${{ matrix.TILEDB_AZURE }} #azure }}
      TILEDB_SERIALIZATION: ${{ matrix.TILEDB_SERIALIZATION }} #serialization }}
      TILEDB_ARROW_TESTS: ${{ matrix.TILEDB_ARROW_TESTS }}
      TILEDB_WEBP: ${{ matrix.TILEDB_WEBP }}
      TILEDB_CMAKE_BUILD_TYPE: 'RelWithDebInfo'
    steps:
      - name: 'tiledb env prep'
        run: |
          $env:BUILD_BUILDDIRECTORY = $env:GITHUB_WORKSPACE.replace("TileDB\TileDB","tdbbd") # 't'ile'db' 'b'uild 'd'ir
          $env:BUILD_SOURCESDIRECTORY = $env:GITHUB_WORKSPACE

          Write-Host "GITHUB_WORKSPACE is '$env:GITHUB_WORKSPACE'"
          Write-Host "BUILD_BUILDDIRECTORY is '$env:BUILD_BUILDDIRECTORY'"
          Write-Host "BUILD_SOURCESDIRECTORY is '$env:BUILD_SOURCESDIRECTORY'"
          Write-Host "GITHUB_ENV is $env:GITHUB_ENV"

          mkdir $env:BUILD_BUILDDIRECTORY

          write-host "BUILD_BUILDDIRECTORY=$env:BUILD_BUILDDIRECTORY" *>> $env:GITHUB_ENV
          write-host "BUILD_SOURCESDIRECTORY=$env:BUILD_SOURCESDIRECTORY" *>> $env:GITHUB_ENV

      - name: 'Print env'
        shell: cmd
        run: |
          set

      - name: 'dump file prep'
        shell: cmd
        run: |
          reg add "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\Windows Error Reporting\LocalDumps" /v DumpType /t REG_DWORD /d 2 /f
          reg add "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\Windows Error Reporting\LocalDumps" /v DumpCount /t REG_DWORD /d 10 /f
          reg query "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\Windows Error Reporting\LocalDumps" /v DumpType
          reg query "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\Windows Error Reporting\LocalDumps" /v DumpFolder
          reg query "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\Windows Error Reporting\LocalDumps" /v DumpCount

      - name: 'proxy localappdata'
        shell: pwsh
        run: |
          #so, apparently env context is *NOT* populated from runner machine environ...
          #https://github.com/actions/runner/issues/740
          #i.e. for us ${{ env.LOCALAPPDATA }} does not work directly (wanted in artifact upload path)
          #and considered to be doc'd as so, tho the ref'd doc doesn't really seem to outline that, but behaviour fails...
          #https://github.com/actions/runner/blob/main/docs/adrs/0278-env-context.md#dont-populate-the-env-context-with-environment-variables-from-runner-machine
          #but, it seems *we* can populate our own var from our actions, and access it in file upload...
          echo TDBLOCALAPPDATA=$env:LOCALAPPDATA >> "$env:GITHUB_ENV"

      - name: ARROW python needs
        shell: bash
        if: ${{ matrix.TILEDB_ARROW_TESTS == 'ON' }}
        run: |
          set -e pipefail
          if [[ "$TILEDB_ARROW_TESTS" == "ON" ]]; then
            pip install pyarrow pybind11 numpy
          fi
      - name: Prepare git
        run: git config --global core.autocrlf false
      - uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0
      - name: core tiledb windows build
        run: |
          $ErrorView = "NormalView"

          #directory $env:BUILD_BUILDDIRECTORY was created in step 'tiledb env prep'
          cd $env:BUILD_BUILDDIRECTORY

          $VSCategory = "Enterprise" # alternate 'Community'
          if ($env:TILEDB_GA_IMAGE_NAME -eq "windows-2019") {
            if (!(Test-Path "C:\Program Files (x86)\Microsoft Visual Studio\2019\${VSCategory}\Common7\IDE\CommonExtensions\Microsoft\CMake\CMake\bin")) {
              Write-Host "ERROR***: Missing C:\Program Files (x86)\Microsoft Visual Studio\2019\${VSCategory}\Common7\IDE\CommonExtensions\Microsoft\CMake\CMake\bin"
              exit $LastExitCode
            }
            $env:Path += ";C:\Program Files (x86)\Microsoft Visual Studio\2019\${VSCategory}\Common7\IDE\CommonExtensions\Microsoft\CMake\CMake\bin"
          } else {
            Write-Host "Unknown image name: '$($env:TILEDB_GA_IMAGE_NAME)'"
            exit $LastExitCode
          }

          # allow double-checking path
          cmd /c "echo $PATH"

          $bootstrapOptions = $env:TILEDB_BASE_BOOTSTRAP_OPTIONS
          if ($env:TILEDB_S3 -eq "ON") {
            $bootstrapOptions = "-EnableS3 " + $bootstrapOptions
          }
          if ($env:TILEDB_AZURE -eq "ON") {
            $bootstrapOptions = "-EnableAzure " + $bootstrapOptions

            # to be removed when build of crc32 is to be used by gcs
            $bootstrapOptions = $bootstrapOptions + " -_EnableCrc32"
          }
          if ($env:TILEDB_GCS -eq "ON") {
            $bootstrapOptions = "-EnableGCS " + $bootstrapOptions
            #NOTE: GCS simulator not yet actually in place.
          }
          if ($env:TILEDB_SERIALIZATION -eq "ON") {
            $bootstrapOptions = "-EnableSerialization " + $bootstrapOptions
          }
          # static already added above as initial default
          # if ($env:TILEDB_STATIC -eq "ON") {
          #  $bootstrapOptions = $bootstrapOptions + " -EnableStaticTileDB"
          # }
          # if ($env:TILEDB_HDFS -eq "ON") {
          #  $bootstrapOptions = $bootstrapOptions + " -EnableHDFS"
          #}
          if ($env:TILEDB_TOOLS -eq "ON") {
            $bootstrapOptions = $bootstrapOptions + " -EnableTools"
          }
          $CMakeBuildType = $env:TILEDB_CMAKE_BUILD_TYPE
          if ($env:TILEDB_DEBUG -eq "ON") {
            $bootstrapOptions = $bootstrapOptions + " -EnableDebug"
            $CMakeBuildType = "Debug"
            # Change in environment for next steps!
            write-host "TILEDB_CMAKE_BUILD_TYPE=$CMakeBuildType" *>> $env:GITHUB_ENV

          } elseif ($CMakeBuildType -eq "RelWithDebInfo") {
            $bootstrapOptions = $bootstrapOptions + " -EnableReleaseSymbols"
          }
          # if ($env:TILEDB_CI_ASAN -eq "ON") {
          #  $bootstrapOptions = $bootstrapOptions + " -EnableSanitizer address -EnableDebug"
          # }
          # if ($env:TILEDB_CI_TSAN -eq "ON") {
          #  $bootstrapOptions = $bootstrapOptions + " -EnableSanitizer thread -EnableDebug"
          # }
          # static already added above as initial default
          # if ($env:TILEDB_FORCE_BUILD_DEPS" -eq "ON") {
          #   $bootstrapOptions = $bootstrapOptions + " -EnableBuildDeps"
          # }
          if ($env:TILEDB_WERROR -eq "OFF") {
            $bootstrapOptions = $bootstrapOptions + " -DisableWerror"
          }
          if ($env:TILEDB_WEBP -eq "OFF") {
            $bootstrapOptions = $bootstrapOptions + " -DisableWebP"
          }

          $bootstrapExpression = "& $env:BUILD_SOURCESDIRECTORY\bootstrap.ps1 " + $bootstrapOptions
          Write-Host "bootstrapExpression: $bootstrapExpression"
          Invoke-Expression $bootstrapExpression

          if ($LastExitCode -ne 0) {
            Write-Host "Bootstrap failed."
            exit $LastExitCode
          }

          cmake --build $env:BUILD_BUILDDIRECTORY --config $CMakeBuildType -j $env:NUMBER_OF_PROCESSORS 2>&1

          if ($LastExitCode -ne 0) {
            Write-Host "Build failed. CMake exit status: " $LastExitCocde
            exit $LastExitCode
          }

          cmake --build $env:BUILD_BUILDDIRECTORY --target install-tiledb --config $CMakeBuildType 2>&1

          if ($LastExitCode -ne 0) {
            Write-Host "Installation failed."
            $host.SetShouldExit($LastExitCode)
          }
        shell: powershell

      - name: 'Test'
        id: test
        shell: powershell
        run: |
          write-host "begin run: 'Test'"

          $CMakeBuildType = $env:TILEDB_CMAKE_BUILD_TYPE

          # Clone backwards compatibility test arrays
          if ($env:BACKWARDS_COMPATIBILITY_ARRAYS -eq "ON") {
            git clone https://github.com/TileDB-Inc/TileDB-Unit-Test-Arrays.git --branch 2.5.0 $env:BUILD_SOURCESDIRECTORY/test/inputs/arrays/read_compatibility_test
          }

          if ($env:TILEDB_S3 -eq "ON") {
            $env:MINIO_ACCESS_KEY = "minio"
            $env:MINIO_SECRET_KEY = "miniosecretkey"
            $env:AWS_ACCESS_KEY_ID = "minio"
            $env:AWS_SECRET_ACCESS_KEY = "miniosecretkey"
            # TODO DEBUG move this back in the TILEDB_S3 section
            # currently we do not run S3 tests on Windows because tests time out (minio+azure slow?)
            # & "$env:BUILD_SOURCESDIRECTORY\scripts\install-minio.ps1"

            # update CMake to disable S3 for the test configuration, see minio note above
            cmake -B $env:BUILD_BUILDDIRECTORY\tiledb -DTILEDB_S3=0 $env:BUILD_SOURCESDIRECTORY
          }

          # CMake exits with non-0 status if there are any warnings during the build, so
          cmake --build $env:BUILD_BUILDDIRECTORY\tiledb -j $env:NUMBER_OF_PROCESSORS --target tiledb_unit --config $CMakeBuildType -- /verbosity:minimal
          cmake --build $env:BUILD_BUILDDIRECTORY\tiledb -j $env:NUMBER_OF_PROCESSORS --target tiledb_regression --config $CMakeBuildType -- /verbosity:minimal
          cmake --build $env:BUILD_BUILDDIRECTORY\tiledb -j $env:NUMBER_OF_PROCESSORS --target all_link_complete --config $CMakeBuildType -- /verbosity:minimal

          if ($env:TILEDB_AZURE -eq "ON") {
            if($env.TILEDB_USE_CUSTOM_NODE_JS) {
              Write-Host "azurite: using custom install nodejs"
              #in CI environ, doesn't work with 'local' install, works when -g'lobal' install used in the .ps1
              & "$env:BUILD_SOURCESDIRECTORY\scripts\install-run-azurite.ps1"
            }
            else { #using the node/npm already present in vm
              Write-Host "azurite: using vm install nodejs"
               #this code path avoids overhead of download/expand/install of alternate nodejs/azurite.
              npm install -g azurite
              Write-Host "done with 'npm install -g azurite'"
              $azuriteDataPath = (Join-Path $env:TEMP "azuriteData")
              New-Item -ItemType Directory -Path $azuriteDataPath
              $azuriteDebugLog = (Join-Path $env:TEMP "azuriteDebugLog.Log")
              ls $env:TEMP
              ls $env:azureDataPath
              cmd /c "start `"azurite`" azurite-blob --silent --location $azuriteDataPath --debug $azuriteDebugLog --blobPort 10000 --blobHost 127.0.0.1"
              Write-Host "after starting azure"
            }
            Write-Host "look for 'node.exe' in following list:"
            tasklist | findstr /i node.exe
          }

          # Actually run tests

          $cmds = "$env:BUILD_BUILDDIRECTORY\tiledb\test\$CMakeBuildType\tiledb_unit.exe -d=yes"
          Write-Host "cmds: '$cmds'"
          Invoke-Expression $cmds
          if ($LastExitCode -ne 0) {
             Write-Host "Tests failed. tiledb_unit exit status: " $LastExitCocde
             $host.SetShouldExit($LastExitCode)
          }

          $cmds = "$env:BUILD_BUILDDIRECTORY\tiledb\test\ci\$CMakeBuildType\test_assert.exe -d=yes"
          Invoke-Expression $cmds
          if ($LastExitCode -ne 0) {
             Write-Host "Tests failed. test_assert exit status: " $LastExitCocde
             $host.SetShouldExit($LastExitCode)
          }


          if ($env:TILEDB_WEBP -eq "ON") {
            $cmds = "$env:BUILD_BUILDDIRECTORY\tiledb\tiledb\sm\compressors\$CMakeBuildType\unit_link_webp.exe"
            Write-Host "cmds: '$cmds'"
            Invoke-Expression $cmds

            if ($LastExitCode -ne 0) {
               Write-Host "unit_link_webp failed. CMake exit status: " $LastExitCocde
               $host.SetShouldExit($LastExitCode)
            }
          }
          # Build the examples
          cmake --build $env:BUILD_BUILDDIRECTORY --target examples --config $CMakeBuildType -- /verbosity:minimal

          if ($LastExitCode -ne 0) {
            Write-Host "Examples failed to build."
            $host.SetShouldExit($LastExitCode)
          }

          $env:Path += ";$env:BUILD_BUILDDIRECTORY\dist\bin;$env:BUILD_BUILDDIRECTORY\externals\install\bin"

          $TestAppDir = (Join-Path $env:BUILD_BUILDDIRECTORY "tiledb\examples\c_api")
          $TestAppDataDir = (Join-Path $env:BUILD_BUILDDIRECTORY "tiledb\examples\c_api\test_app_data")
          Get-ChildItem (Join-Path $env:BUILD_BUILDDIRECTORY "tiledb\examples\c_api\$CMakeBuildType") -Filter *.exe |
          Foreach-Object {
            try {
              Set-Location -path $TestAppDir
              Remove-Item -Path $TestAppDataDir -recurse -force -ErrorAction SilentlyContinue
              New-Item -ItemType Directory -Path $TestAppDataDir > $nul
              Set-Location -path $TestAppDataDir
              $exepath = $_.FullName
              write-host "Executing $exepath"
              & $exepath
              $status = $?
              if (-not $status) {
                Write-Host "FAILED: Error $status running $exepath"
                Write-Host "::set-output name=TILEDB_CI_SUCCESS::0"
                $host.SetShouldExit(1)
              }  elseif ($LastExitCode -ne 0) {
                Write-Host "FAILED: C++ API example failed $LastExitCode,  $exepath."
                Write-Host "::set-output name=TILEDB_CI_SUCCESS::0"
                $host.SetShouldExit($LastExitCode)
              }

            } catch {
              $status = $_
              Write-Host "FAILED: exception C API example failed, $status, $exepath."
              Write-Host "::set-output name=TILEDB_CI_SUCCESS::0"
              $host.SetShouldExit(1)
            }
          }
          Set-Location -path $TestAppDir
          Remove-Item -Path $TestAppDataDir -recurse -force -ErrorAction SilentlyContinue

          $TestAppDir = (Join-Path $env:BUILD_BUILDDIRECTORY "tiledb\examples\cpp_api")
          $TestAppDataDir = (Join-Path $env:BUILD_BUILDDIRECTORY "tiledb\examples\cpp_api\test_app_data")
          Get-ChildItem (Join-Path $env:BUILD_BUILDDIRECTORY "tiledb\examples\cpp_api\$CMakeBuildType") -Filter *.exe |
          Foreach-Object {
            try {
              Set-Location -path $TestAppDir
              Remove-Item -Path $TestAppDataDir -recurse -force -ErrorAction SilentlyContinue
              New-Item -ItemType Directory -Path $TestAppDataDir > $nul
              Set-Location -path $TestAppDataDir
              $exepath = $_.FullName
              write-host "Executing $exepath"
              & $exepath
              $status = $?
              if (-not $status) {
                Write-Host "FAILED: Error $status running $exepath"
                Write-Host "::set-output name=TILEDB_CI_SUCCESS::0"
                $host.SetShouldExit(1)
              } elseif ($LastExitCode -ne 0) {
                Write-Host "FAILED: C++ API example failed $LastExitCode,  $exepath."
                Write-Host "::set-output name=TILEDB_CI_SUCCESS::0"
                $host.SetShouldExit($LastExitCode)
              }
            } catch {
              $status = $_
              Write-Host "FAILED: exception, C++ API example failed, $status, $exepath."
              Write-Host "::set-output name=TILEDB_CI_SUCCESS::0"
              $host.SetShouldExit(1)
            }

          }
          Set-Location -path $TestAppDir
          Remove-Item -Path $TestAppDataDir -recurse -force -ErrorAction SilentlyContinue

          # Build examples
          cd $env:BUILD_SOURCESDIRECTORY\examples\cmake_project

          mkdir build

          cd build

          # Build zip artifact
          cmake -A X64 -DCMAKE_PREFIX_PATH="$env:BUILD_BUILDDIRECTORY\dist" ..

          cmake --build . --config $CMakeBuildType -- /verbosity:minimal

          #.\$CMakeBuildType\ExampleExe.exe
          $cmd = ".\$CMakeBuildType\ExampleExe.exe"
          Write-Host "cmd: '$cmd'"
          Invoke-Expression $cmd

          #.\$CMakeBuildType\ExampleExe_static.exe
          $cmd = ".\$CMakeBuildType\ExampleExe_static.exe"
          Write-Host "cmd: '$cmd'"
          Invoke-Expression $cmd

          # Packaging test
          cd $env:BUILD_SOURCESDIRECTORY\test\packaging
          mkdir build
          cd build
          cmake -DCMAKE_PREFIX_PATH="$env:BUILD_BUILDDIRECTORY\dist" ..
          # The testing is in the test/packaging/CMakeLists.txt file, just invoked,
          # there is no other code to be built in the produced projects.

      - name: 'process crashdumps'
        shell: cmd
        if: ${{ failure() == true && startsWith(matrix.os, 'windows-') == true }} # only run this job if the build step failed
        run: |
          if not exist "%localappdata%\CrashDumps\*.dmp" goto nodumps1
            dir "%localappdata%\CrashDumps"
            cd /d "%localappdata%\CrashDumps"
            cd
            dir
            for /r %%f in (*.dmp) do "c:\Program Files (x86)\Windows Kits\10\Debuggers\x64\cdb.exe" -z %%f -c "!analyze;~* kv;kP;r;u;q"
          :nodumps1

      - name: 'upload dumpfile artifacts' # https://github.com/actions/upload-artifact#where-does-the-upload-go
        if: ${{ always() == true && startsWith(matrix.os, 'windows-') == true }} # only run this job if the build step failed
        uses: actions/upload-artifact@v3
        with:
          retention-days: 10
          name: "coredumps.${{ github.job }}.${{ matrix.os }}.${{matrix.environ}}.${{ github.run_number }}.${{github.run_id}}.${{github.run_attempt}}"
          if-no-files-found: warn # 'ignore/', 'warn' or 'error' are available, defaults to `warn`
          # fails, empty env context... ${{ env.LOCALAPPDATA }}/CrashDumps/*.dmp
          path: |
            ${{ env.TDBLOCALAPPDATA }}/CrashDumps/*.dmp

      - name: 'Test status check'
        shell: bash
        run: |
          # tiledb_unit is configured to set a job-level variable TILEDB_CI_SUCCESS=1
          # following the test run. If this variable is not set, the build should fail.
          # see https://github.com/TileDB-Inc/TileDB/pull/1400 (5f0623f4d3)
          if [[ "${{ steps.test.outputs.TILEDB_CI_SUCCESS }}" -ne 1 ]]; then
            echo TILEDB_CI_SUCCESS != 1, exiting.
            exit 1;
          fi
