name: rtools
on:
  workflow_call:

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        include: [
          { msystem: ucrt64, toolchain: "ucrt-x86_64" }
        ]
      fail-fast: false
    steps:
      - name: Prepare git
        run: git config --global core.autocrlf false
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Get vcpkg commit to checkout
        id: vcpkg_commit
        shell: bash
        run: |
          echo "ref=$(grep -oP '(?<=set\(VCPKG_COMMIT_STRING )\w*' cmake/Options/TileDBToolchain.cmake | head -n 1)" >> "$GITHUB_OUTPUT"
      # We clone vcpkg ourselves because having FetchContent do it inside
      # the build directory causes compilation errors due to long paths.
      - name: Checkout vcpkg repository
        uses: actions/checkout@v3
        with:
          repository: microsoft/vcpkg
          path: vcpkg
          ref: ${{ steps.vcpkg_commit.outputs.ref }}
          # Vcpkg requires fetching all commits.
          fetch-depth: 0
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.3'
      - name: Install RTools dependencies
        run: |
          pacman -Sy --noconfirm base-devel
        shell: c:\rtools43\usr\bin\bash.exe --login {0}
      - name: Build TileDB
        run: |
          export SystemDrive="$SYSTEMDRIVE"
          export SystemRoot="$SYSTEMROOT"
          export windir="$WINDIR"
          cd ${GITHUB_WORKSPACE}/.github/workflows/mingw-w64-tiledb
          makepkg-mingw --noconfirm --syncdeps
        env:
          TILEDB_HOME: ${{ github.workspace }}
          MINGW_ARCH: ${{ matrix.msystem }}
          VCPKG_ROOT: ${{ github.workspace }}/vcpkg
        shell: c:\rtools43\usr\bin\bash.exe --login {0}
      - name: Set variables
        shell: bash
        id: get-values
        run: |
          release_hash=$( echo ${{ github.sha }} | cut -c-7 - )
          ref=${{ github.head_ref || github.ref_name }}
          echo "release_version=${ref##*/}-$release_hash" >> $GITHUB_OUTPUT
      - name: "Rename release artifact and create sha256 hash"
        run: |
          mkdir release
          mv .github/workflows/mingw-w64-tiledb/*.pkg.tar.zst release/tiledb-windows-x86_64-mingw64_ucrt64-${{ steps.get-values.outputs.release_version }}.tar.zst
          sha256sum release/tiledb-windows-x86_64-mingw64_ucrt64-${{ steps.get-values.outputs.release_version }}.tar.zst > release/tiledb-windows-x86_64-mingw64_ucrt64-${{ steps.get-values.outputs.release_version }}.tar.zst.sha256
      - name: "Upload binaries"
        uses: actions/upload-artifact@v4
        with:
          name: release-windows-x86_64-mingw64_ucrt64-${{ steps.get-values.outputs.release_version }}
          path: release/tiledb-*
      - name: "Print log files (failed build only)"
        shell: bash
        run: |
          source $GITHUB_WORKSPACE/scripts/ci/print_logs.sh
          echo "# ------------------------------------"
          find $BUILD_BUILDDIRECTORY/dist
          echo "# --------vcpkg----------------------------"
          find $BUILD_BUILDDIRECTORY/vcpkg_installed
        if: failure() # only run this job if the build step failed
