name: Build-Dockerfile

on:
  workflow_call:

jobs:
  build-dockerfile:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4
        with:
            submodules: true
            fetch-depth: 0



      - name: Build the Dockerfile
        run: docker build -f examples/Dockerfile/Dockerfile -t tiledb:dev .
