name: Build-Dockerfile

on: pull_request

jobs:
  build-dockerfile:
    runs-on: ubuntu-20.04
    if: ${{ false == true }}

    steps:
      - name: Check out the repository
        uses: actions/checkout@v2

      - name: Build the Dockerfile
        run: docker build -f examples/Dockerfile/Dockerfile -t tiledb:dev .
