name: check-formatting
on:
  push:
    paths-ignore:
      - '_quarto.yml'
      - 'quarto-materials/*'
      - '**/.md'
  pull_request:
    paths-ignore:
      - '_quarto.yml'
      - 'quarto-materials/*'
      - '**/.md'

jobs:
  build:
    runs-on: ubuntu-20.04
    if: ${{ startsWith(github.ref , 'refs/tags') != true && startsWith(github.ref , 'build-') != true }}
    timeout-minutes: 90
    name: Check Clang Format
    steps:
      - uses: actions/checkout@v2
      - name: 'Print env'
        run: |
          echo "'uname -s' is:"
          echo "uname: " $(uname)
          echo "uname -m: " $(uname -m)
          echo "uname -r:" $(uname -r)
          echo "uname -s: " $(uname -s)
          echo "uname -v: " $(uname -v)
          printenv
        shell: bash

      - name: Check formatting (linux only)'
        run: |
          source $GITHUB_WORKSPACE/scripts/ci/check_formatting_linux.sh
        shell: bash
        if: ${{ runner.os == 'Linux' }}
