name: check-heap-memory-violations
on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-20.04
    if: ${{ startsWith(github.ref , 'refs/tags') != true && startsWith(github.ref , 'build-') != true }}
    timeout-minutes: 90
    name: Check Heap Memory Violations
    steps:
      - uses: actions/checkout@v2
      - name: 'Print env'
        run: |
          echo "'uname -s' is:"
          echo "uname: " $(uname)
          echo "uname -m: " $(uname -m)
          echo "uname -r:" $(uname -r)
          echo "uname -s: " $(uname -s)
          echo "uname -v: " $(uname -v)
          printenv
        shell: bash

      - name: Check formatting (linux only)'
        run: |
          set -e pipefail
          python scripts/find_heap_api_violations.py tiledb
        shell: bash
        if: ${{ runner.os == 'Linux' }}