name: REST CI

on:
  workflow_call:

jobs:
  rest-ci:
    runs-on: ubuntu-latest

    steps:
      # For easy access to lookup dispatched CI job.
      - name: Print URL for REST CI actions
        run: echo https://github.com/TileDB-Inc/TileDB-Internal/actions

      # If this workflow fails on the remote repository, this CI job will also fail.
      - name: Workflow dispatch to REST CI
        id: trigger-step
        uses: the-actions-org/workflow-dispatch@v4
        env:
          TILEDB_REST_CI_PAT: secrets.TILEDB_REST_CI_PAT
        if: env.TILEDB_REST_CI_PAT != null
        with:
          repo: TileDB-Inc/TileDB-Internal
          # Trigger workflow on TileDB-Internal checked out at this ref.
          ref: "rr/build-tiledb-TILEDB_BUILD"
          workflow: rest-ci.yml
          token: ${{ secrets.TILEDB_REST_CI_PAT }}
          # The references set here will be passed to REST CI to checkout for testing.
          # These can be temporarily modified if you want to test your changes against a specific branch.
          # github.head_ref will only be set for PRs, so fallback to github.ref_name if triggered via push event.
          inputs: |
            {
              "tiledb_ref": "${{ github.event.inputs.ref || github.head_ref || github.ref_name }}",
              "tiledb_cloud_rest_ref": "master",
              "tiledb_server_ref": "main"
            }
          wait-for-completion-timeout: 120m
