name: REST CI

on:
  - workflow_call
  - workflow_dispatch

  push:
    branches:
      - dev
      - release-*
      - refs/tags/*

jobs:
  rest-ci:
    runs-on: ubuntu-latest

    steps:
      # For easy access to lookup dispatched CI job.
      - name: Print URL for REST CI actions
        run: echo https://github.com/TileDB-Inc/TileDB-Internal/actions

      # If this workflow fails on the remote repository, this CI job will also fail.
      - name: Workflow dispatch to REST CI
        id: trigger-step
        uses: aurelien-baudet/workflow-dispatch@v2
        env:
          TILEDB_REST_CI_PAT: ${{ secrets.TILEDB_REST_CI_PAT }}
        # Skip if no PAT is set (e.g. for PRs from forks).
        if: env.TILEDB_REST_CI_PAT != null
        with:
          repo: TileDB-Inc/TileDB-Internal
          # Trigger workflow on TileDB-Internal at this ref.
          ref: "main"
          workflow: full-ci.yml
          token: ${{ secrets.TILEDB_REST_CI_PAT }}
          # Pass TileDB core ref to test against REST.
          # github.head_ref will only be set for PRs, so fallback to github.ref_name if triggered via push event.
          inputs: '{ "tiledb_ref": "${{ github.head_ref || github.ref_name }}"}'
          wait-for-completion-timeout: 90m
