name: TileDB Nightly Test Build

on:
  schedule:
    # runs every day at 2:50 UTC
    - cron: "50 02 * * *"
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            cxxflags: "-std=c++17"
          - os: macos-latest
            cxxflags: "-std=c++17"
          - os: macos-latest # ASAN build
            cxxflags: "-std=c++17"
            asan: "true"
          - os: macos-latest # Experimental build
            cxxflags: "-std=c++17"
            experimental: ON
          - os: windows-latest
            cxxflags: "/std:c++17"
          - os: windows-2019
            cxxflags: "/std:c++17"
          - os: ubuntu-latest
            cxxflags: "-std=c++2a"
          - os: macos-latest
            cxxflags: "-std=c++2a"
          - os: windows-latest
            cxxflags: "/std:c++20"
          - os: windows-2019
            cxxflags: "/std:c++20"
          - os: windows-latest
            config: "Debug"
            cxxflags: "/std:c++20"
      fail-fast: false

    permissions:
      issues: write
    env:
      MACOSX_DEPLOYMENT_TARGET: 10.15
      TILEDB_NIGHTLY_BUILD: 1

    steps:
      - name: Print env
        run: printenv

      - name: Checkout TileDB `dev`
        uses: actions/checkout@v3

      - name: Configure TileDB CMake
        if: ${{ ! contains(matrix.os, 'windows') }}
        env:
          CXXFLAGS: ${{ matrix.cxxflags }}
          SANITIZER_ARG: ${{ matrix.asan == 'true' && 'address' || 'OFF' }}
          EXPERIMENTAL: ${{ matrix.experimental || 'OFF' }}
        run: |
          cmake -B build -DTILEDB_WERROR=ON -DTILEDB_SERIALIZATION=ON -DTILEDB_EXPERIMENTAL_FEATURES=$EXPERIMENTAL -DCMAKE_BUILD_TYPE=${{ matrix.config || 'Release' }} -DSANITIZER=$SANITIZER_ARG

      - name: Configure TileDB CMake
        if: contains(matrix.os, 'windows')
        env:
          CXXFLAGS: ${{ matrix.cxxflags }}
        run: |
          cmake -B build -DTILEDB_WERROR=ON -DTILEDB_SERIALIZATION=ON -DCMAKE_BUILD_TYPE=${{ matrix.config || 'Release' }}

      - name: Build TileDB
        run: |
          cmake --build build -j2 --config ${{ matrix.config || 'Release' }}

      - name: Test TileDB
        run: |
          cmake --build build --target check --config ${{ matrix.config || 'Release' }}

  create_issue_on_fail:
    runs-on: ubuntu-latest
    needs: test
    if: failure() || cancelled()
    steps:
      - name: Checkout TileDB `dev`
        uses: actions/checkout@v3
      - name: Create Issue if Build Fails
        uses: JasonEtco/create-an-issue@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          filename: .github/workflows/nightly-failure-issue-template.md
