name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - 'release-*'
    tags:
      - '*'

jobs:
  Package-Source-Release:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout TileDB
        uses: actions/checkout@v3
      - name: Set variables
        id: get-values
        run: |
          release_hash=$( echo ${{ github.sha }} | cut -c-7 - )
          ref=${{ github.head_ref || github.ref_name }}
          echo "release_version=${ref##*/}-$release_hash" >> $GITHUB_OUTPUT
        shell: bash
      - name: CMake Configure
        run: cmake -S . -B build -DTILEDB_CMAKE_IDE=ON
      - name: CPack Package Source
        env:
          TILEDB_PACKAGE_VERSION: ${{ steps.get-values.outputs.release_version }}
        run: cd build && cpack --config CPackSourceConfig.cmake
      - name: Upload Release Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: release-source
          path: |
            build/tiledb-*

  Package-Binary-Release:
    name: Build TileDB Binaries
    uses: ./.github/workflows/build-artifacts.yml
    with:
      ref: ${{ github.ref }}
      version: ''

  Build-R-Binaries:
    uses: ./.github/workflows/build-rtools40.yml

  Test-Release-Artifacts:
    needs:
      - Package-Binary-Release
    runs-on: ubuntu-latest
    steps:
      - name: Download release artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: "*"
          merge-multiple: true
          path: dist
      - name: Test names of release artifacts
        run: |
          if [ ls dist/ | grep -Ev -- '^tiledb-(linux|macos|windows)+-(x86_64|arm64)(-noavx2)?-.+-[0-9a-f]{7}\.(zip|tar\.gz)$' ]; then
            echo "Some release artifact names do not match expected pattern"
            exit 1
          fi

  Publish-Release:
    needs:
      - Test-Release-Artifacts
      - Package-Source-Release
      - Build-R-Binaries
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Download release artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: release-*
          merge-multiple: true
          path: dist
      - name: DEBUG
        run: |
          ls -R dist/
      - name: Publish release artifacts
        uses: actions/github-script@v6
        with:
          script: |
            const fs = require('fs');
            const path = require('path');
            const repo = context.repo;
            const release = await github.rest.repos.getReleaseByTag({
              owner: repo.owner,
              repo: repo.repo,
              tag: "${{ github.ref_name }}"
            });
            const globber = await glob.create('dist/**/*');
            for await (const file of globber.globGenerator()) {
              console.log(`Uploading file: ${file}`);
              await github.rest.repos.uploadReleaseAsset({
                owner: repo.owner,
                repo: repo.repo,
                release_id: release.data.id,
                headers: {
                  'content-type': 'application/octet-stream',
                  'content-length': fs.statSync(file).size
                },
                name: path.basename(file),
                data: fs.readFileSync(file)
              });
            }

  Generate-Release-List:
    needs:
      - Publish-Release
    uses: ./.github/workflows/append-release-cmake.yml
    with:
      ref: ${{ github.ref_name }}

  Create-Issue-On-Fail:
    permissions:
      issues: write
    runs-on: ubuntu-latest
    needs: Publish-Release
    if: (failure() || cancelled()) && github.event_name == 'push'
    steps:
      # The open-issue action requires to clone the repository.
      - name: Checkout TileDB
        uses: actions/checkout@v4
      - name: Create Issue if Build Fails
        uses: TileDB-Inc/github-actions/open-issue@main
        with:
          name: Release failed
          label: release
          assignee: davisp,dudoslav,ihnorton,teo-tsirpanis
