name: unit-test-standalone
on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        build_type: [Release]
        rust: [OFF]
      fail-fast: false
    name: Build - ${{ matrix.os }} (${{ matrix.build_type }})
    timeout-minutes: 90
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v3

      - name: 'Homebrew and SDKROOT setup on macOS'
        run: |
          brew install automake
          echo "SDKROOT=$(xcrun --sdk macosx --show-sdk-path)" >> $GITHUB_ENV
        if: ${{ startsWith(matrix.os, 'macos-') }}

      - name: Install Ninja
        uses: seanmiddleditch/gha-setup-ninja@v4

      # Need this for virtualenv and arrow tests if enabled
      - name: 'Install Python'
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
          cache: 'pip'

      - name: 'Set up Python dependencies'
        run: |
          set -e pipefail
          python -m pip install --upgrade pip virtualenv
          pip install pyarrow pybind11[global] numpy

      - name: Install Rust Stable
        if: ${{ inputs.rust }}
        uses: dtolnay/rust-toolchain@stable

      - name: Setup MSVC toolset
        uses: TheMrMilchmann/setup-msvc-dev@v3
        if: ${{ startsWith(matrix.os, 'windows-') }}
        with:
          arch: x64

      - name: 'Print env'
        run: |
          echo "'uname -s' is:"
          echo "uname: " $(uname)
          echo "uname -m: " $(uname -m)
          echo "uname -r:" $(uname -r)
          echo "uname -s: " $(uname -s)
          echo "uname -v: " $(uname -v)
          printenv
        shell: bash
        if: ${{ !startsWith(matrix.os, 'windows-') }}

      - name: 'Configure build (non-windows)'
        run: |
          cmake -S . \
            -B build \
            -G Ninja \
            -DCMAKE_BUILD_TYPE="${{ matrix.build_type }}" \
            -DTILEDB_ASSERTIONS=ON \
            -DTILEDB_SERIALIZATION=ON \
            -DTILEDB_ASSERTIONS=ON \
            -DTILEDB_ARROW_TESTS=ON \
            -DTILEDB_RUST="${{ matrix.rust }}"
        if: ${{ !startsWith(matrix.os, 'windows-') }}

      - name: 'Build standalone unit tests (non-windows)'
        run: |
          cmake --build build --target tests -j4
        if: ${{ !startsWith(matrix.os, 'windows-') }}

      #
      # Rust's `rustc` will invoke `link.exe` without full qualification.
      # If the wrong `link.exe` occurs prior in `$PATH`, then the build will fail.
      # Here we fix up the `$PATH` to ensure that the correct `link.exe` is used.
      #
      - name: 'Configure build (windows)'
        shell: pwsh
        run: |
          $PATH_COMPONENTS_FOR_BUILD = $Env:PATH -split ";" | Where-Object { $_ -notMatch "\\Git\\" }
          $PATH_FOR_BUILD = $PATH_COMPONENTS_FOR_BUILD -join ";"
          $Env:PATH = $PATH_FOR_BUILD
          cmake -S . -B build -G Ninja `
            -DCMAKE_BUILD_TYPE="${{ matrix.build_type }}" `
            -DTILEDB_SERIALIZATION=ON `
            -DTILEDB_ASSERTIONS=ON `
            -DTILEDB_ARROW_TESTS=ON `
            -DTILEDB_RUST="${{ inputs.rust }}"
        if: ${{ startsWith(matrix.os, 'windows-') }}

      - name: 'Build standalone unit tests (Windows)'
        shell: pwsh
        run: |
          $PATH_COMPONENTS_FOR_BUILD = $Env:PATH -split ";" | Where-Object { $_ -notMatch "\\Git\\" }
          $PATH_FOR_BUILD = $PATH_COMPONENTS_FOR_BUILD -join ";"
          $Env:PATH = $PATH_FOR_BUILD
          cmake --build build --target tests -j4
        if: ${{ startsWith(matrix.os, 'windows-') }}

      - name: 'Run standalone unit tests'
        run: |
          ctest --test-dir build -R '(^unit_|test_assert)' --no-tests=error --verbose
          ctest --test-dir build -R 'test_ci_asserts'

      - name: "Print log files (failed build only)"
        run: |
          source $GITHUB_WORKSPACE/scripts/ci/print_logs.sh
        if: ${{ failure() }} # only run this job if the build step failed
