name: unit-test-standalone
on:
  push:
    paths-ignore:
      - '_quarto.yml'
      - 'quarto-materials/*'
      - '**/.md'
      - 'doc/source/conf.py'
      - 'tiledb/sm/c_api/tiledb_version.h'
  pull_request:
    paths-ignore:
      - '_quarto.yml'
      - 'quarto-materials/*'
      - '**/.md'
      - 'doc/source/conf.py'
      - 'tiledb/sm/c_api/tiledb_version.h'

env:
  BACKWARDS_COMPATIBILITY_ARRAYS: OFF
  TILEDB_S3: OFF
  TILEDB_AZURE: OFF
  TILEDB_GCS: OFF
  TILEDB_SERIALIZATION: OFF
  TILEDB_STATIC: OFF
  TILEDB_TOOLS: ON

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
        tp: [ON, OFF]
      fail-fast: false
    name: Build - ${{ matrix.os }} (${{ matrix.tp }})
    steps:
      - uses: actions/checkout@v2
      - name: 'Print env'
        run: |
          echo "'uname -s' is:"
          echo "uname: " $(uname)
          echo "uname -m: " $(uname -m)
          echo "uname -r:" $(uname -r)
          echo "uname -s: " $(uname -s)
          echo "uname -v: " $(uname -v)
          printenv
        shell: bash

      - name: 'Install system headers (OSX 10.14 only)'
        run: |
          set -e pipefail
          open /Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg
          sudo installer -pkg /Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg -allowUntrusted -target /
        shell: bash
        if: ${{ runner.os == 'macOS' && env.imageName == 'macOS-10.14' }}

      - name: 'Build and run standalone unit tests'
        id: test
        run: |

          mkdir -p $GITHUB_WORKSPACE/build
          pushd $GITHUB_WORKSPACE/build

          cmake .. \
            -DTILEDB_AZURE=${TILEDB_AZURE}\
            -DTILEDB_GCS=${TILEDB_GCS} \
            -DTILEDB_S3=${TILEDB_S3} \
            -DTILEDB_SERIALIZATION=${TILEDB_SERIALIZATION} \
            -DTILEDB_LEGACY_THREAD_POOL=${{ matrix.tp }}
          make -j4
          # Build all unit tests
          make -C tiledb tests -j4
          # Run all unit tests
          make -C tiledb test ARGS="-R '^unit_'"

          popd
      - name: "Print log files (failed build only)"
        run: |
          source $GITHUB_WORKSPACE/scripts/ci/print_logs.sh
        if: ${{ failure() }} # only run this job if the build step failed
