name: unit-test-standalone
on:
  workflow_call:

env:
  BACKWARDS_COMPATIBILITY_ARRAYS: OFF
  TILEDB_ASSERTIONS: ON
  TILEDB_S3: OFF
  TILEDB_AZURE: OFF
  TILEDB_GCS: OFF
  TILEDB_SERIALIZATION: OFF
  TILEDB_STATIC: OFF
  TILEDB_TOOLS: ON
  TILEDB_WEBP: ON

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
      fail-fast: false
    name: Build - ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: 'Print env'
        run: |
          echo "'uname -s' is:"
          echo "uname: " $(uname)
          echo "uname -m: " $(uname -m)
          echo "uname -r:" $(uname -r)
          echo "uname -s: " $(uname -s)
          echo "uname -v: " $(uname -v)
          printenv
        shell: bash

      - name: 'Build and run standalone unit tests'
        id: test
        run: |

          mkdir -p $GITHUB_WORKSPACE/build
          pushd $GITHUB_WORKSPACE/build

          cmake .. \
            -DTILEDB_AZURE=${TILEDB_AZURE}\
            -DTILEDB_GCS=${TILEDB_GCS} \
            -DTILEDB_S3=${TILEDB_S3} \
            -DTILEDB_SERIALIZATION=${TILEDB_SERIALIZATION} \
            -DTILEDB_WEBP=${TILEDB_WEBP} \
            -DTILEDB_ASSERTIONS=${TILEDB_ASSERTIONS}
          make -j4
          # Build all unit tests
          make -C tiledb tests -j4
          # Run all unit tests
          make -C tiledb test ARGS="-R '^unit_'"

          popd
      - name: "Print log files (failed build only)"
        run: |
          source $GITHUB_WORKSPACE/scripts/ci/print_logs.sh
        if: ${{ failure() }} # only run this job if the build step failed
